appnope==0.1.0
decorator==4.2.1
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
jupyter-client==5.2.3
jupyter-core==4.4.0
numpy==1.14.2
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.7.2
PyYAML==3.12
pyzmq==17.0.0
simplegeneric==0.8.1
six==1.11.0
torch==0.3.0.post4
tornado==5.0.1
traitlets==4.3.2
wcwidth==0.1.7
